/* ~ * Variables * ~ */

/* Font Family */
$text-main: 'Raleway', sans-serif;
$text-title-bold: 'Myriad Pro', sans-serif;
$text-map: 'Signika', sans-serif;

/* Font Size */
$font-xs: 14px;
$font-s: 18px;
$font-m: 24px;
$font-l: 30px;
$font-xl: 36px;
$font-xxl: 60px;

/* Colors */
$color-light: #ffffff;
$color-light-transparent: #ffffff00;
$color-dark: #87949e;
$color-black: #000000;
$color-green: #17daa3;
$color-gray: #576671;
$color-background-gray: #edeff1;
$color-tile-1: #F9F9FA;
$color-tile-2: #EFEFEF;
$color-tile-3: #E4E4E4;
$color-tile-4: #2EDDAC;

/* ~ * Global styles * ~ */

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

/* Section */

.section-padding-110 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-padding-165 {
    padding-top: 115px;
    padding-bottom: 115px;
}

.section-padding-190 {
    padding-top: 140px;
    padding-bottom: 140px;
}

@media (min-width: 992px) {
    .section-padding-110 {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    
    .section-padding-165 {
        padding-top: 165px;
        padding-bottom: 165px;
    }
    
    .section-padding-190 {
        padding-top: 190px;
        padding-bottom: 190px;
    }    
}

/* Container */

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* Row */

.row {
    display: flex;
    flex-wrap: wrap;

    * {
        flex-shrink: 0;
    }
}

/* Titles */

.title {
    font-size: $font-xl;
    font-family: $text-main;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .title {
        font-size: $font-xxl;
    }
}

.title-light {
    color: $color-light;
    font-weight: 100;

    .bold {
        font-weight: 700;
    }
}

.title-dark {
    color: $color-dark;
    font-weight: 200;
}

.title-gray {
    color: $color-gray;
    font-weight: 400;
}

.subtitle-light {
    color: $color-light;
    font-size: $font-m;
    font-family: $text-title-bold;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.subtitle-dark {
    color: $color-dark;
    font-size: $font-s;
    font-family: $text-main;
    font-weight: 400;
    letter-spacing: 0.45px;
}

.title, .subtitle-light, .subtitle-dark {
    text-align: center;
}

.title-small {
    font-family: $text-title-bold;
    color: $color-black;
    font-size: $font-l;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: center;
}

.description {
    font-family: $text-main;
    color: $color-dark;
    font-size: $font-s;
    font-weight: 400;
    letter-spacing: 0.45px;
    line-height: 30px;
    text-align: center;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 10px 50px;
    border-radius: 500px;
    text-align: center;
    font-family: $text-main;
    font-size: $font-xs;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.35px;
    transition: all 0.4s ease-in-out;
    color: $color-light;
}

.btn-transparent {
    background-color: $color-light-transparent;
    border: 2px solid #ffffff;
    filter: drop-shadow(0 0 0 $color-light);
    &:hover {
       filter: drop-shadow(0 0 3px $color-light);
       padding: 10px 60px;
    }
}

.btn-green {
    background-color: $color-green;
    border: 2px solid $color-green;
    box-shadow: inset 0 0 0 $color-gray;
    &:hover {
        padding: 10px 60px;
        box-shadow: inset 0 0 10px $color-gray;
    }
}

/* ~ * Navigation * ~ */

@keyframes show-search {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 0;
        height: 30px;
    }
    100% {
        width: 200px;
        height: 30px;
    }
}

@keyframes hide-search {
    0% {
        width: 200px;
        height: 30px;
    }
    75% {
        width: 0;
        height: 30px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

.navigation {

    padding-top: 50px;

    .row {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .menu-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-light;
        z-index: 99;
        padding: 20px;
        transition: all .4s ease;
    }

    .menu-wrapper.open {
        top: 0;
    }

    .menu {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        font-family: $text-main;
        font-weight: 700;
        // font-size: $font-xs;
        font-size: $font-s;
        
        a {
            // color: $color-light;
            color: $color-gray;
        }

        a.menu-link {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 0;
                width: 100%;
                border-bottom: 3px solid $color-gray;
                left: 50%;
                bottom: -15px;
                transform: translateX(-50%) scaleX(10%);
                transition: all .4s ease;
                opacity: 0;
            }
            &:hover::after {
                transform: translateX(-50%) scaleX(100%);
                bottom: -5px;
                opacity: 1;
            }
        }

        .search {
            font-size: 0;
        }

        i {
            font-size: 23px;
        }

    }

    .logo a {
        font-size: 0;
    }

    .search {
        display: flex;
        position: relative;
        height: 30px;

        .search-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 1.2s ease;
        }

        #site-search {
            height: 0;
            width: 0;
            opacity: 0;
            transition: all .4s ease;
        }

        .search-button.open {
            left: 90%;
        }

        #site-search.open {
            opacity: 1;
            animation-name: show-search;
            animation-duration: 1.2s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        #site-search.closed {
            animation-name: hide-search;
            animation-duration: 1.2s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }
    }

    // HAMBURGER
    // source: https://codepen.io/designcouch/pen/ExvwPY
    // By Jesse Couch

    #nav-icon {
        width: 60px;
        height: 45px;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(0.5);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        right: 0;
        z-index: 199;
    }

    #nav-icon.open {
        position: fixed;
    }

    #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $color-light;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon.open span {
        background-color: $color-gray;
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
        top: 18px;
    }

    #nav-icon span:nth-child(4) {
        top: 36px;
    }

    #nav-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

@media (min-width: 992px) {
    .navigation {
        .hamburger {
            display: none;
        }

        .menu-wrapper {
            position: relative;
            width: 100%;
            max-width: 700px;
            height: auto;
            background-color: $color-light-transparent;
            padding: 0;
        }

        .menu {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: $font-xs;
            
            a {
                color: $color-light;
            }

            a.menu-link {
                &::after {
                    border-bottom: 3px solid $color-light;
                }
            }            

            #search-button i {
                transition: all 1.2s ease;
            }

            #search-button.open i {
                color: $color-gray;
            }
    
        }
    }
}

/* ~ * Splash * ~ */

.splash {
    background-image: url("../images/splash-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;

    .banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        padding: 0 15px;

        .subtitle-light {
            margin-bottom: 60px;
        }
    }
}

/* ~ * About * ~ */

.about {

    .row {
        justify-content: center;
        align-items: stretch;
    }

    .about-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 0 15px;
    }

    .title-small {
        margin-bottom: 30px;
    }

    .image {
        background-color: $color-background-gray;
        width: 182px;
        height: 182px;
        position: relative;
        border-radius: 100%;
        margin-bottom: 40px;
        margin-top: 80px;
    }

    .about-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .icon-atom {
        width: 47px;
        height: 53px;
    }

    .image, .about-icon {
        transition: all .4s ease-in-out;
    }

    .image:hover {
        background-color: $color-green;
    }

    .image:hover > .about-icon {
        filter: brightness(200%);
    }

    .btn {
        margin-top: 50px;
    }

    .container {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .about {
        .about-col {
            max-width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    .about {
        .title-small {
            margin-bottom: 50px;
        }

        .image {
            margin-bottom: 85px;
            margin-top: 150px;
        }

        .about-col {
            max-width: 25%;
        }

        .btn {
            margin-top: 100px;
        }
    }
}

/* ~ * Desc * ~ */

.desc {
    .title, .description {
        text-align: left;
        margin-bottom: 70px;
    }

    .col {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .desc {
        .col {
            width: 50%;
        }
    }
}

/* Right */

.desc-right {
    background-color: $color-tile-1;
    
    .row {
        justify-content: flex-end;
    }
}

/* ~ * Profile * ~ */

.profile {
    padding-top: 90px;
    padding-bottom: 140px;
    text-align: center;
    background-image: url("../images/profile-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    h4 {
        color: $color-light;
        font-family: $text-main;
        font-size: $font-l;
        font-weight: 300;
        letter-spacing: 0.75px;
        margin: 45px 0 35px;

        span {
            color: $color-green;
        }
    }

    p {
        color: $color-light;
        font-family: $text-main;
        font-size: $font-s;
        font-weight: 300;
        letter-spacing: 0.45px;
        opacity: 0.3;

        span {
            font-weight: 500;
        }
    }
}

@media (min-width: 992px) {
    .profile {
        padding-top: 180px;
        padding-bottom: 280px;
    }
}

/* ~ * Services * ~ */

.services {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: $color-tile-1;

    .title {
        font-weight: 200;
    }

    .row {
        margin-top: 90px;
        justify-content: center;
    }

    .col {
        width: 100%;
        max-width: 760px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }

    .image {
        background-color: $color-light;
        width: 94px;
        height: 94px;
        border-radius: 500px;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .image, .image > img {
        transition: all .4s ease-in-out;
    }

    .image:hover {
        background-color: $color-green;
    }

    .image:hover > img {
        filter: grayscale(100%) brightness(200%);
    }

    .content .subtitle-dark {
        line-height: 48px;
    }

    .content .title {
        margin-bottom: 20px;
        letter-spacing: 1.5px;
        line-height: 96px;
    }
}

@media (min-width: 768px) {
    .services {
        .col {
            flex-direction: row;
            align-items: flex-start;
            padding: 0 25px;
        }

        .image {
            margin-right: 50px;
        }

        .content {
            width: calc(100% - 144px);
        }

        .content * {
            text-align: left;
        }
    }
}

@media (min-width: 992px) {
    .services {
        .row {
            margin-top: 190px;
        }

        .content .title {
            margin-bottom: 55px;
        }
    }
}

@media (min-width: 1200px) {
    .services {
        .container {
            max-width: 1560px;
        }

        .col {
            width: 50%;
        }
    }
}

/* ~ * Team * ~ */

@keyframes tiles-bg-1 {
    0%   {background-color: $color-tile-1;}
    25%  {background-color: $color-tile-2;}
    50%  {background-color: $color-tile-3;}
    75%  {background-color: $color-tile-2;}
    100% {background-color: $color-tile-1;}
}

@keyframes tiles-bg-2 {
    0%   {background-color: $color-tile-2;}
    25%  {background-color: $color-tile-3;}
    50%  {background-color: $color-tile-2;}
    75%  {background-color: $color-tile-1;}
    100% {background-color: $color-tile-2;}
}

@keyframes tiles-bg-3 {
    0%   {background-color: $color-tile-3;}
    25%  {background-color: $color-tile-2;}
    50%  {background-color: $color-tile-1;}
    75%  {background-color: $color-tile-2;}
    100% {background-color: $color-tile-3;}
}


.team {
    padding-top: 110px;

    .subtitle-dark {
        margin-bottom: 110px;
    }

    .tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
    }

    .tiles-col {
        width: 100%;
        padding-bottom: 100%;
        perspective: 1000px;
        perspective-origin: 50% 50%;
        position: relative;
    }

    .tiles-col-1 > .member {
        background-color: $color-tile-1;
        animation-name: tiles-bg-1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    
    .tiles-col-2 > .member {
        background-color: $color-tile-2;
        animation-name: tiles-bg-2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .tiles-col-3 > .member {
        background-color: $color-tile-3;
        animation-name: tiles-bg-3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .member {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .4s ease-in-out;
    }

    .member::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: $color-tile-4;
        opacity: 0;
        transition: all .8s ease-in-out;
    }

    .tiles-col::before {
        content: "John Doe";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        opacity: 0;
        transition: all .2s ease-in;
        text-align: center;
        color: $color-light;
        font-weight: 400;
        font-family: $text-main;
        font-size: $font-xl;
    }

    .tiles-col:hover > .member {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }

    .tiles-col:hover > .member::before {
        opacity: 1;
    }

    .tiles-col:hover::before {
        opacity: 1;
    }


}

@media (min-width: 401px) {
    .team {
        .tiles-col {
            width: 400px;
            padding-bottom: 400px;
        }
    }
}

@media (min-width: 601px) {
    .team {
        .tiles-col {
            width: 50%;
            padding-bottom: 50%;
        }
    }  
}

@media (min-width: 820px) {
    .team {
        .tiles-col {
            width: 400px;
            padding-bottom: 400px;
        }
    }
}

@media (min-width: 1020px) {
    .team {
        .tiles-col {
            width: 33.33333%;
            padding-bottom: 33.33333%;
        }
    }  
}

@media (min-width: 1220px) {
    .team {
        .tiles-col {
            width: 400px;
            padding-bottom: 400px;
        }
    }
}

@media (min-width: 1420px) {
    .team {
        .tiles-col {
            width: 25%;
            padding-bottom: 25%;
        }
    }  
}

@media (min-width: 1620px) {
    .team {
        .tiles-col {
            width: 400px;
            padding-bottom: 400px;
        }
    }
}

@media (min-width: 1820px) {
    .team {
        .tiles-col {
            width: 20%;
            padding-bottom: 20%;
        }
    }  
}

/* ~ * Pricing * ~ */

@keyframes cart-driving {
    0%   {transform: translateX(0px);}
    50%  {transform: translateX(-30px);}
    100% {transform: translateX(0px);}   
}

.pricing {
    background-color: $color-tile-1;
    padding-bottom: 50px;

    .subtitle-dark {
        margin-bottom: 110px;
    }

    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
        max-width: 345px;
        box-shadow: 0 0 35px rgba(227, 227, 227, 0.35);
        transition: all .4s ease-in-out;
        border-radius: 5px;
        overflow: hidden;
        font-family: $text-main;
        margin-bottom: 60px;
    }

    .card:hover {
        box-shadow: 0 0 35px rgba(227, 227, 227, 1);
    }

    .card-content {
        background-color: $color-light;
        padding: 55px 35px 75px;
    }

    .card-button {
        display: flex;
        background-color: $color-green;
        justify-content: space-between;
        padding: 26px 33px;
        color: $color-light;
        font-size: $font-s;
        font-weight: 700;
        box-shadow: inset 0 0 10px rgba(0,0,0,0);
        transition: all .4s ease;
    }

    .card-button:hover {
        box-shadow: inset 0 0 10px $color-gray;
    }

    .card-button:hover > .image {
        animation-name: cart-driving;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    .price {
        color: $color-green;
        font-size: $font-xl;
        font-weight: 400;
        letter-spacing: 1.5px;
        margin-bottom: 25px;
    }

    .license {
        opacity: 0.45;
        color: $color-dark;
        font-size: $font-s;
        font-weight: 400;
        margin-bottom: 60px;
    }

    .details {
        color: $color-dark;
        font-size: $font-s;
        font-weight: 400;
        line-height: 34px;
    }

}

@media (min-width: 768px) {
    .pricing {
        .cards {
            justify-content: center;
        }

        .card {
            width: calc(50% - 15px);
        }

        .card:nth-child(odd) {
            margin-right: 30px;
        }

        .price {
            font-size: $font-xxl;
        }
    
        .license {
            margin-bottom: 120px;
        }
    
        .details {
            line-height: 48px;
        }
    }
}

@media (min-width: 1200px) {
    .pricing {
        .cards {
            justify-content: center;
        }

        .card {
            width: calc(33.33333% - 20px);
        }

        .card:nth-child(odd) {
            margin-right: 0;
        }

        .card:nth-child(even) {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}

@media (min-width: 1541px) {
    .pricing {
        .container {
            width: 100%;
            max-width: 1540px;
        }

        .card:nth-child(even) {
            margin-left: 0;
            margin-right: 0;
        }

        .card:nth-child(n) {
            width: calc(25% - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

/* ~ * Location * ~ */

.location {
    position: relative;
    overflow: hidden;

    .title, .description {
        text-align: left;
        margin-bottom: 70px;
    }

    .col {
        width: 100%;
    }

    .image {
        width: 100%;
        margin-top: 60px;

        img {
            width: 100%;
        }
    }
}

@media (min-width: 992px) {
    .location {
        .col {
            width: 50%;
        }

        .image {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 50%;
    
            img {
                width: 100%;
            }
        }
    }

}

/* ~ * Promo * ~ */

.promo {
    padding-top: 140px;
    padding-bottom: 140px;
    text-align: center;
    background-image: url("../images/invitation-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    h2 {
        margin-bottom: 100px;
    }
}

@media (min-width: 992px) {
    .promo {
        padding-top: 280px;
        padding-bottom: 270px;
    }
}

/* ~ * Footer * ~ */

footer {
    position: relative;
    padding-top: 70px;
    padding-bottom: 300px;
    overflow: hidden;
    font-family: $text-main;
    font-size: $font-s;
    font-weight: 400;
    color: $color-dark;

    .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 120%;
        max-width: 1100px;

        img {
            width: 100%;
        }
    }

    .copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;

        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
    }

    .footer-links {
        text-align: center;

        li {
            margin-bottom: 20px;
        }

        a {
            opacity: 0.45;
            color: $color-dark;
            transition: all .4s ease;
        }

        a:hover {
            opacity: 1;
        }
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 992px) {
    footer {
        padding-bottom: 660px;

        .row {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .copyright {
            width: auto;
            margin-bottom: 0;
        }

        .footer-links {
            width: 100%;
            max-width: 455px;
            display: flex;
            justify-content: space-between;

            li {
                margin-bottom: 0;
                margin-top: 2px;
            }

        }
    }
}