/* ~ * Variables * ~ */

/* Font Family */
$text-click: 'Raleway', sans-serif;
$text-title-bold: 'Myriad Pro', sans-serif;
$text-map: 'Signika', sans-serif;

/* Font Size */
$font-xs: 14px;
$font-s: 18px;
$font-m: 24px;
$font-l: 30px;
$font-xl: 36px;
$font-xxl: 60px;

/* Colors */
$color-light: #ffffff;
$color-dark: #87949e;
$color-black: #000000;
$color-green: #17daa3;
$color-gray: #576671;
$color-background-gray: #edeff1;
$color-tile-1: #F9F9FA;
$color-tile-2: #EFEFEF;
$color-tile-3: #E4E4E4;
$color-tile-4: #2EDDAC;